$primary-color: #56d5ff;
$primary-light: #92ffff;
$primary-dark: #00a4cc;
$color-primary: #ffffff;

$secondary-color: #ff49e0;
$secondary-dark: #ff82ff;
$secondary-light: #c800ae;
$color-secondary: #000000;