@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
body .container section.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body .container section.home div.banner {
  border-radius: 15px;
  min-height: calc(100vh - 110px);
  display: flex;
  position: relative;
  width: calc(100vw - 40px);
  justify-content: center;
  align-items: center;
  border: 10px solid #56d5ff;
  z-index: 1;
}
body .container section.home div.banner:after {
  height: calc(100% + 50px + 4px - 320px);
  width: calc(100% + 20px);
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  content: "";
  position: absolute;
  background: #2e2a2a;
}
body .container section.home div.banner:before {
  width: calc(100% + 50px + 4px - 320px);
  height: calc(100% + 20px);
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  content: "";
  position: absolute;
  background: #2e2a2a;
}
body .container section.home div.banner div {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 5;
}
body .container section.home div.banner div h1 {
  font-size: 3em;
  margin: 0;
  font-family: "Mouse Memoirs";
  letter-spacing: 2px;
}
body .container section.home article {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  margin: 0;
  width: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 40px;
  font-size: 1.7em;
  font-family: "Ropa Sans";
  background-color: #f4f5e0;
}
body .container section.home article h3 {
  font-size: 2em;
  font-family: "Mouse Memoirs";
  letter-spacing: 2px;
}
body .container section.home article p {
  margin: 10px;
}
body .container section.home article p span {
  font-style: italic;
  font-weight: 600;
}
body .container section.home article.engagement > div {
  display: flex;
  flex-wrap: wrap;
}
body .container section.home article.engagement > div div {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}
body .container section.home article.engagement > div div p:nth-child(1) {
  border: 3px solid black;
  border-radius: 50%;
  font-size: 2em;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ropa Sans";
}
body .container section.home article.engagement > div div h4 {
  width: 100%;
}
body .container section.home article.commande > div {
  margin: 20px;
  display: inline-flex;
}
body .container section.home article.commande > div a {
  margin: 20px;
  background-color: white;
  border-radius: 15px;
  width: 250px;
  height: 250px;
}
body .container section.home article.commande > div a img {
  width: 250px;
}

/*# sourceMappingURL=home.css.map */
